* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: black !important;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

.header_text p {
    color: white;
    font-family: Impact;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    float: right;
    font-size: 2em;
    margin-right: 8%;
}

[data-role="header"] img {
    max-width: 100px;
    float: left;
}

.content_sdis p {
    font-size: 2em;
    color: white;
    text-align: center;
}

.padmin {
    font-size: 0.8em !important;
    color: white;
    text-align: left !important;
}


.content_sdis label {
    font-size: 1em;
    color: white;
    text-align: center;
}

.header_sdis {
    max-height: 100px;
}

.content_sdis {
    margin-top: 20%;
}

.input[type="submit"] {
    background-color: white;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: Impact;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

.input_panel {
    width: 37px;
    height: 7px;
    padding: 10px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
    text-align: center;
}

.pression {
    margin-left: 50px;
}

.label_panel {
    text-align: left !important;
    float: left !important;
    margin-top: 12px !important;
}

.label_panel_right {
    float: right !important;
    margin-top: 12px !important;
    margin-right: 20% !important;
}

.panel_title {
    font-size: 1.5em !important;
    text-align: left !important;
    text-decoration: underline;
}
